<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
  </head>
  <body onload="document.f.u.focus();">
    <h1>Gigabitly</h1>
    <%= @content %>
  </body>
</html>
