<html>
  <head>
    <title><%= @title %></title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="/js/gigabitly.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body onload="document.f.u.focus();">
    <h1><span id="giga">giga</span><span id="bitly">bitly</span></h1>
    <%= @content %>
  </body>
  <div id="foot">
    <div>&copy; 2010 <a href="http://rohandeshpande.tumblr.com">deshpan</a>d<a href="http://dirolf.com">irolf</a></div>
  </div>
</html>
