<h4>Shorten with gigabitly:</h4>
<form action="/link" method="post" name="f">
  <input type="text" name="u" class="text"></input>
  <input type="submit" class="submit" value="Shorten"></input>
</form>
