<h4>Pick a shortened URL:</h4>
<form action="/short" method="post" name="f">
  <input type="hidden" name="u" value="<%= @url %>"></input>
  <input type="hidden" name="s"></input>
  <ul>
    <% @shorts.each do |short| %>
    <li><a href="javascript:shorten('<%= short %>')">http://bit.ly/<%= short %></a></li>
    <% end %>
  </ul>
</form>
