body {
    font-family: futura, sans-serif;
    width: 700px;
    margin: auto;
}

input {
    font-size: 200%;
    border: none;
    outline-width: 0;
    border-bottom: 1px solid black;
    width: 700px;
}
